.about {
  background-image: linear-gradient(
    90deg,
    var(--violet-7),
    var(--indigo-7),
    var(--violet-7)
  );
  padding-block-end: var(--size-13);
  padding-block-start: var(--size-10);
  color: var(--gray-0);
  .about-title {
    text-align: center;
    padding-block: var(--size-10);
  }
  .about-info {
    width: fit-content;
    font-size: var(--font-size-5);
    margin-inline: auto;
  }
}
